[Desktop Entry]
Version=1.0
Type=Application
Name=win-launcher-gen
Comment=
Exec=/usr/local/bin/detect-windrive.sh
Icon=
Path=
Terminal=true
StartupNotify=false
